section.profit
    .container
        h2.title.profit__title
            | ваши 
            span заработки
        p.text.profit__text Посмотрите пример, сколько вы сможете зарабатывать
        .profit__grid
            .profit__item
                h2.title.profit__item-title Теплые полы
                p.text.profit__item-text
                    b Кабель, пленка, кабельный мат
                p.text.profit__item-text Прибыль с одного клиента Среднее кол-во 20-25 сделок в месяц
                p.text.profit__item-text
                    span 15 000 
                    b руб/сделка
                p.text.profit__item-text Средний чек - 12 000 рублей<br>Монтаж - 3 000 рублей
            .profit__item
                h2.title.profit__item-title XL pipe
                p.text.profit__item-text
                    b как система основного отопления
                p.text.profit__item-text Прибыль с одного клиента. Среднее кол-во 3-4 сделки в месяц
                p.text.profit__item-text
                    span 240 000 
                    b руб/сделка
                p.text.profit__item-text Средний чек – 180.000 рублей в доме 130 м²<br>Монтаж – 60.000 рублей
        p.text.profit__grid-text
            b Узнайте выручку и другие финансовые показатели действующих партнеров
        button.btn.popup-link(href="call" data-id=2) Получить информацию