section.reviews
    .container
        h2.title.reviews__title
            | Выбор 
            span партнеров
        .reviews__block
            .reviews__block-video
                .reviews__block-slide
                    <iframe src="https://www.youtube.com/embed/HM5Sb0yBEU0"></iframe>
                .reviews__block-slide
                    <iframe src="https://www.youtube.com/embed/HM5Sb0yBEU0"></iframe>
            .reviews__block-content
                .reviews__slider
                    .reviews__slide
                        h3.reviews__block-title Отзыв от официального дилера DAEWOO ENERTEC в Иркутске.
                        .reviews__block-flex
                            .reviews__block-rating
                                .reviews__block-rating-spn
                                    span.icon-3
                                    span.icon-3
                                    span.icon-3
                                    span.icon-3
                                    span.icon-3.reviews__block-spn
                                b 4.5
                                p Ольга Середницкая
                            p.reviews__block-text Ольга Середницкая расскажет о том, как приняла решение стать дилером, о продаже и спросе на уникальный электро-водяной теплый пол XL PIPE в Иркутске. Поделится инструментами, которые ей дает центральный офис для развития, а также подробно остановится на системе поддержки отдела сопровождения дилерства по теплым полам.
                    .reviews__slide
                        h3.reviews__block-title Отзыв от официального дилера DAEWOO ENERTEC в Иркутске.
                        .reviews__block-flex
                            .reviews__block-rating
                                .reviews__block-rating-spn
                                    span.icon-3
                                    span.icon-3
                                    span.icon-3
                                    span.icon-3
                                    span.icon-3.reviews__block-spn
                                b 4.5
                                p Ольга Середницкая
                            p.reviews__block-text Ольга Середницкая расскажет о том, как приняла решение стать дилером, о продаже и спросе на уникальный электро-водяной теплый пол XL PIPE в Иркутске. Поделится инструментами, которые ей дает центральный офис для развития, а также подробно остановится на системе поддержки отдела сопровождения дилерства по теплым полам.