section.intro
    .container
        h1.intro__title Зарабатывайте на продаже теплых полов с маржинальностью до 100% уже в первый месяц
        ul.intro__list
            li.intro__list-item - Один партнер в одном городе
            li.intro__list-item 
                | - Среднемесячный оборот наших партнеров 
                span 1.000.000р в месяц
            li.intro__list-item - Проверенная бизнес-модель с 2010 года
            li.intro__list-item 
                | - Работает 
                span более 80 партнеров 
                | по России и СНГ
        button.btn.intro__btn.popup-link(href="call2") Получить презентацию + бизнес-план