section.patent
    .container.patent__container
        .patent__content
            h2.title.patent__title
                | Уникальный 
                span запатентованный продукт 
                | СО СПРОСОМ В ЛЮБОЙ СЕЗОН
            p.text.patent__text
                | Электро-водяной пол 
                span XL PIPE
                <br><br>
                | Это выгодная и более экологичная альтернатива стандартным системам отопления – твердотопливным, электрическим и газовым котлам.
                <br><br>
                span Быстрый монтаж, легкая эксплуатация и надежное корейское качество!
            a.text.patent__link(href="/") Больше о системе XL PIPE
        .patent__image
            img(src="./assets/images/1.png", alt="Патент")