.patent {
  background-color: #f4f4f4;
  overflow: hidden;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: ($md2 + px)) {
      flex-direction: column;
    }
  }
  &__content {
    max-width: 622px;
    @media (max-width: ($md2 + px)) {
      padding: 56px 0 44px 0;
    }
  }
  &__title {
    margin-bottom: 20px;
    span {
      color: $mainColor;
    }
  }
  &__text {
    margin-bottom: 80px;
    span {
      font-weight: 700;
    }
    @media (max-width: ($md2 + px)) {
      margin-bottom: 40px;
    }
  }
  &__link {
    font-weight: 700;
    padding-bottom: 5px;
    border-bottom: 3px solid $mainColor;
  }
  &__image {
    @media (max-width: ($md2 + px)) {
      display: none;
    }
    @media (max-width: ($md4 + px)) {
      display: block;
      img {
        width: 100%;
      }
    }
  }
}
