section.partners
    .container
        h2.title.partners__title 
            | наши 
            span Партнеры 
            | получают
        .partners__grid
            .partners__item
                h2.title.partners__item-title Полное обучение
                p.text Проводим обучение Вас и сотрудников продажам, монтажу и ведению бизнеса в нашем направлении 
            .partners__item
                h2.title.partners__item-title Персональный менеджер сопровождения
                p.text Сопровождаем Вас по организационным вопросам, отправке ассортимента и рекламному развитию 
            .partners__item
                h2.title.partners__item-title Рекламные инструменты
                p.text Подготавливаем инструменты для продвижения и развития бизнеса, предоставляем доступ в базу знаний с наработками за 12 лет
            .partners__item
                h2.title.partners__item-title Оцифровка бизнеса
                p.text Прорабатываем точки роста и выход на новый уровень выручки 
            .partners__item
                h2.title.partners__item-title Стандарты работы
                p.text CRM-система, скрипты продаж, работа с партнерскими каналами и многое другое 
            .partners__item
                h2.title.partners__item-title Оптимизация работы
                p.text Мониторинг работы рекламных кампаний и усиление внутренних процессов 