extends ../layouts/default

block variables

block content
  include ../../components/sections/intro/intro
  include ../../components/sections/patent/patent
  include ../../components/sections/partners/partners
  include ../../components/sections/profit/profit
  include ../../components/sections/worth/worth
  include ../../components/sections/investment/investment
  include ../../components/sections/reviews/reviews
  include ../../components/sections/questions/questions
  include ../../components/sections/popup/popup
  include ../../components/sections/popup-2/popup-2