section.questions
    .container.questions__container
        .questions__item
            h2.questions__title Остались вопросы?
            p.text.questions__text Также вы можете напрямую связаться с нами или с уже действующими партнерами, чтобы задать все вопросы
        .questions__item.popup4
            form(action="#")
                input(placeholder="Ваше имя" name="name" required).questions__input.name3
                input(placeholder="Ваш телефон" name="telephone" type="tel" required).questions__input.phone3
                button.btn.questions__btn.btn4 Получить контакты действующих партнеров
            p.smalltext.questions__smalltext *Нажимая на кнопку, вы даете согласие на обработку персональных данных
        .questions__succes.succes4
            h2.form__title СПАСИБО
            p.form__succes-text Специалист свяжется с вами в рабочее время
        .questions__item
            p.text.questions__text Связаться с менеджером сопровождения
            a.questions__tel(href="tel:+7(913)205-06-13") +7 (913) 205-06-13