section.investment
    .container
        h2.title.investment__title
            span НЕОБХОДИМЫЕ ВЛОЖЕНИЯ 
            | НА СТАРТЕ
        .investment__grid
            .investment__item
                h2.title.investment__item-title 
                    | пакет 1<br>
                    span 350.000
                ul.investment__list
                    li.text.investment__list-item - продукция на стоимость пакета
                    li.text.investment__list-item - скидка на продукцию до 45%
                button.btn.popup-link(href="call" data-id=4 data-package="пакет 1") Выбрать пакет
            .investment__item
                h2.title.investment__item-title 
                    | пакет 2<br>
                    span 400.000
                ul.investment__list
                    li.text.investment__list-item 
                        span - продукция на стоимость пакета
                    li.text.investment__list-item 
                        span - скидка на продукцию до 49%
                    li.text.investment__list-item - печатные рекламные материалы (БЕСПЛАТНО)
                    li.text.investment__list-item - демонстрационный стенд с образцами
                button.btn.popup-link(href="call" data-id=4 data-package="пакет 2") Выбрать пакет
            .investment__item
                h2.title.investment__item-title 
                    | пакет 3<br>
                    span 500.000
                ul.investment__list
                    li.text.investment__list-item 
                        span - продукция на стоимость пакета
                    li.text.investment__list-item 
                        span - скидка на продукцию до 49%
                    li.text.investment__list-item 
                        span - печатные рекламные материалы (БЕСПЛАТНО)
                    li.text.investment__list-item 
                        span - демонстрационный стенд с образцами
                    li.text.investment__list-item - 2 дня обучения в центральном офисе
                    li.text.investment__list-item - бонус на размещение онлайн рекламы
                button.btn.popup-link(href="call" data-id=4 data-package="пакет 3") Выбрать пакет
        h2.title.investment__subtitle Помимо приобретения пакета, вам необходимы
        ul.investment__sublist
            li.investment__sublist-item Офис продаж от 25 кв.м
            li.investment__sublist-item Косметический ремонт в офисе
            li.investment__sublist-item Организация рабочих мест
            li.investment__sublist-item Рекламный бюджет на 1-2 месяца
        button.btn.popup-link(href="call" data-id=3) Скачать дилерский договор